<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
        <div class="h-100 d-md-flex align-items-center auth-side-img row">
            <div class="col-sm-10 auth-content w-auto">
                <div class="displayTable">
                    <div class="displayTableCell">
                        <div class="authBlock">
                            <h3>Thank You for Registering</h3>
                            <div class="formGroup" *ngIf="user">
                                <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
                                <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
                            </div>

                            <!-- Calling SendVerificationMail() method using authService Api -->
                            <div class="formGroup">
                                <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
                                    <i class="fas fa-redo-alt"></i>
                                    Resend Verification Email
                                </button>
                            </div>
                        </div>
                        <div class="redirectToLogin">
                            <span>Go back to?<a class="redirect" routerLink="/auth/signin-v2"> Sign in</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
