<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <h5>Default Switch</h5>
    <hr />
    <div class="form-group">
      <div class="switch d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-1" checked />
        <label for="switch-1" class="cr"></label>
      </div>
      <label class="ms-2">Checked</label>
    </div>
    <div class="form-group">
      <div class="switch d-inline m-r-10">
        <input type="checkbox" id="switch-2" placeholder="switch" />
        <label for="switch-2" class="cr"></label>
      </div>
      <label class="ms-2">Uncheck</label>
    </div>
    <div class="form-group">
      <div class="switch d-inline m-r-10">
        <input type="checkbox" id="switch-3" disabled placeholder="switch" />
        <label for="switch-3" class="cr"></label>
      </div>
      <label class="ms-2">Disabled</label>
    </div>
    <div class="form-group">
      <div class="switch d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-4" disabled checked />
        <label for="switch-4" class="cr"></label>
      </div>
      <label class="ms-2">Disabled Checked</label>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <h5>Alternative Switch</h5>
    <hr />
    <div class="form-group">
      <div class="switch switch-alternative d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-a-1" checked />
        <label for="switch-a-1" class="cr"></label>
      </div>
      <label class="ms-2">Checked</label>
    </div>
    <div class="form-group">
      <div class="switch switch-alternative d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-a-2" />
        <label for="switch-a-2" class="cr"></label>
      </div>
      <label class="ms-2">Uncheck</label>
    </div>
    <div class="form-group">
      <div class="switch switch-alternative d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-a-3" disabled />
        <label for="switch-a-3" class="cr"></label>
      </div>
      <label class="ms-2">Disabled</label>
    </div>
    <div class="form-group">
      <div class="switch switch-alternative d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-a-4" disabled checked />
        <label for="switch-a-4" class="cr"></label>
      </div>
      <label class="ms-2">Disabled Checked</label>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <h5>Primary Switch</h5>
    <hr />
    <div class="form-group">
      <div class="switch switch-primary d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-p-1" checked />
        <label for="switch-p-1" class="cr"></label>
      </div>
      <label class="ms-2">Checked</label>
    </div>
    <div class="form-group">
      <div class="switch switch-primary d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-p-2" />
        <label for="switch-p-2" class="cr"></label>
      </div>
      <label class="ms-2">Uncheck</label>
    </div>
    <div class="form-group">
      <div class="switch switch-primary d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-p-3" disabled />
        <label for="switch-p-3" class="cr"></label>
      </div>
      <label class="ms-2">Disabled</label>
    </div>
    <div class="form-group">
      <div class="switch switch-primary d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-p-4" disabled checked />
        <label for="switch-p-4" class="cr"></label>
      </div>
      <label class="ms-2">Disabled Checked</label>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <h5>Danger Switch</h5>
    <hr />
    <div class="form-group">
      <div class="switch switch-danger d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-d-1" checked />
        <label for="switch-d-1" class="cr"></label>
      </div>
      <label class="ms-2">Checked</label>
    </div>
    <div class="form-group">
      <div class="switch switch-danger d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-d-2" />
        <label for="switch-d-2" class="cr"></label>
      </div>
      <label class="ms-2">Uncheck</label>
    </div>
    <div class="form-group">
      <div class="switch switch-danger d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-d-3" disabled />
        <label for="switch-d-3" class="cr"></label>
      </div>
      <label class="ms-2">Disabled</label>
    </div>
    <div class="form-group">
      <div class="switch switch-danger d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-d-4" disabled checked />
        <label for="switch-d-4" class="cr"></label>
      </div>
      <label class="ms-2">Disabled Checked</label>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <h5>Success Switch</h5>
    <hr />
    <div class="form-group">
      <div class="switch switch-success d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-s-1" checked />
        <label for="switch-s-1" class="cr"></label>
      </div>
      <label class="ms-2">Checked</label>
    </div>
    <div class="form-group">
      <div class="switch switch-success d-inline m-r-10">
        <input type="checkbox" placeholder="switch" placeholder="switch" id="switch-s-2" />
        <label for="switch-s-2" class="cr"></label>
      </div>
      <label class="ms-2">Uncheck</label>
    </div>
    <div class="form-group">
      <div class="switch switch-success d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-s-3" disabled />
        <label for="switch-s-3" class="cr"></label>
      </div>
      <label class="ms-2">Disabled</label>
    </div>
    <div class="form-group">
      <div class="switch switch-success d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-s-4" disabled checked />
        <label for="switch-s-4" class="cr"></label>
      </div>
      <label class="ms-2">Disabled Checked</label>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-3">
    <h5>Warning Switch</h5>
    <hr />
    <div class="form-group">
      <div class="switch switch-warning d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-w-1" checked />
        <label for="switch-w-1" class="cr"></label>
      </div>
      <label class="ms-2">Checked</label>
    </div>
    <div class="form-group">
      <div class="switch switch-warning d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-w-2" />
        <label for="switch-w-2" class="cr"></label>
      </div>
      <label class="ms-2">Uncheck</label>
    </div>
    <div class="form-group">
      <div class="switch switch-warning d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-w-3" disabled />
        <label for="switch-w-3" class="cr"></label>
      </div>
      <label class="ms-2">Disabled</label>
    </div>
    <div class="form-group">
      <div class="switch switch-warning d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-w-4" disabled checked />
        <label for="switch-w-4" class="cr"></label>
      </div>
      <label class="ms-2">Disabled Checked</label>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-3">
    <h5>Info Switch</h5>
    <hr />
    <div class="form-group">
      <div class="switch switch-info d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-i-1" checked />
        <label for="switch-i-1" class="cr"></label>
      </div>
      <label class="ms-2">Checked</label>
    </div>
    <div class="form-group">
      <div class="switch switch-info d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-i-2" />
        <label for="switch-i-2" class="cr"></label>
      </div>
      <label class="ms-2">Uncheck</label>
    </div>
    <div class="form-group">
      <div class="switch switch-info d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-i-3" disabled />
        <label for="switch-i-3" class="cr"></label>
      </div>
      <label class="ms-2">Disabled</label>
    </div>
    <div class="form-group">
      <div class="switch switch-info d-inline m-r-10">
        <input type="checkbox" placeholder="switch" id="switch-i-4" disabled checked />
        <label for="switch-i-4" class="cr"></label>
      </div>
      <label class="ms-2">Disabled Checked</label>
    </div>
  </div>
</div>
