<form [formGroup]="addressFormGroup">
  @for(field of fields.values(); track $index) {
    @if(!['address'].includes(field.type)){
      <mat-form-field [ngStyle]="">
        <mat-label>{{field.fieldLabel}}</mat-label>
        @if(!field.type || field.type === 'text') {
          <input
            matInput
            placeholder="{{field.placeholder}}"
            formControlName="{{field.fcn}}"
            [required]="field.required"
            [mask]="field.mask || ''"
            [autocapitalize]="field.autoCapitalize"
            (input)="onFieldChange($event)"
            id="{{fieldIdPrefix + '-' + field.fcn }}"
          >
        }
        @if(field['type'] === 'date'){
          <ng-container>
            <input
              matInput
              placeholder="{{field.placeholder}}"
              formControlName="{{field.fcn}}"
              [required]="field.required"
              [matDatepicker]="datePicker"
              (dateChange)="onDateChange($event)"
              [id]="field.pickerId"
              style="color: black"
            >
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #datePicker [startView]="field.startView"></mat-datepicker>
          </ng-container>
        }
        @if(field['type'] === 'currency'){
          <input
            matInput
            placeholder="{{field.placeholder}}"
            formControlName="{{field.fcn}}"
            [required]="field.required"
            mask="separator"
            thousandSeparator=","
            prefix="$"
          >
        }
        @if(field['type'] === 'quantity'){
          <input
            matInput
            placeholder="{{field.placeholder}}"
            formControlName="{{field.fcn}}"
            [required]="field.required"
            mask="separator"
            thousandSeparator=","
          >
        }
        @if(field['type'] === 'select'){
          <mat-select
            [(value)]="field.fcn"
            formControlName="{{field.fcn}}"
            [required]="field.required"
            placeholder="{{field.placeholder}}"
          >
            <div *ngFor="let option of field.options">
              <mat-option [value]="option.value">{{option.key}}</mat-option>
            </div>
          </mat-select>
        }
      </mat-form-field>
    }
  }
</form>
