<div #escrowCompanyFormContainer id="escrowCompanyFormContainer">
  <mat-toolbar color="antiquewhite">
    <span class="example-spacer"></span>
    <button
      style="background-color: transparent; border: 0; "
      [mat-dialog-close]="true"
    >
      <i style=" color: red; font-size: 2rem" class="bi bi-x-square-fill"></i>
    </button>
  </mat-toolbar>
  <div mat-dialog-title style="border-bottom: #3c5a99 1px solid; text-align: center">
    <h3>Add or Edit Escrow Company</h3>
  </div>
  <mat-dialog-content>
    <p>Form Goes here</p>
  </mat-dialog-content>
</div>
