<!--<p>client-verify works! {{JSON.stringify(clientData)}}</p>-->
<div id="clientVerifyAccordion">
    <dx-accordion
        #clientVerifyAccordion
        [dataSource]="verifyDataSource"
        [multiple]="false"
        [animationDuration]="300"
        [selectedItems]="[]"
    >
        <div *dxTemplate="let item of 'title'">
          <div style="width: 100%">
            <h2>{{ item.key | cleanVerifyItemName}}</h2>
            <span>Status</span>
          </div>
        </div>
        <div *dxTemplate="let item of 'item'">
            <section>
                <div class="row">
                    <table class="verifyDataTable">
                        <tr>
                            <td style="width: 25%">
                                Research Data
                            </td>
                            <td>
                                {{item.value['researchData']['data']}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%">
                                Client Entered Data
                            </td>
                            <td>
                                {{item.value['clientEnteredData']['data']}}
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </dx-accordion>
</div>
