<!--<p>client-verify works! {{JSON.stringify(clientData)}}</p>-->
<div *ngIf="clientData" >{{clientData.uid}}</div>
<div id="clientVerifyAccordion">
    <dx-accordion
        #clientVerifyAccordion
        [dataSource]="verifyDataSource"
        [multiple]="false"
        [animationDuration]="300"
        [selectedItems]="[]"
    >
        <div *dxTemplate="let item of 'title'">
            <h2>{{ item.key}}</h2>
        </div>
        <div *dxTemplate="let item of 'item'">
            <section>
                <div class="row">
                    <table class="verifyDataTable">
                        <tr>
                            <td>
                                Research Data
                            </td>
                            <td>
                                {{item.value['researchData']['data']}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Client Entered Data
                            </td>
                            <td>
                                {{item.value['clientEnteredData']['data']}}
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
<!--            <section>-->
<!--                <div class="row">-->
<!--                    <h3>Research Data</h3>-->
<!--                    <hr>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    Data: {{item.value['researchData']['data']}}-->
<!--                </div>-->
<!--            </section>-->
<!--            <section>-->
<!--                <div class="row">-->
<!--                    <h3>Client Entered Data</h3>-->
<!--                    <hr>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    Data: {{item.value['clientEnteredData']['data']}}-->
<!--                </div>-->
<!--            </section>-->
        </div>
    </dx-accordion>
</div>
