<div style="text-align: center">
  <h1>Commission Accelerator Kanban Workflow</h1>
  <h3>Version: {{version}}</h3>
  <span >
    <button style="margin-bottom: 10px" (click)="refreshKanban($event)" >Refresh Kanban</button>
  </span>
</div>

<div class="control-section">
  <div class="content-wrapper">
    <div  #kanbanDiv>
      <ejs-kanban
      #kanbanObj
      cssClass="kanban-overview"
      keyField="advanceStatus"
      [dataSource]="kanbanData"
      [enableTooltip]="enableToolTip"
      [cardSettings]="cardSettings"
      [swimlaneSettings]="swimLaneSettings"
      (cardDoubleClick)="cardDoubleClick($event)"
      (dragStop)="onDrop($event)"

    >
      <e-columns>
        @for(column of columns; let index=$index; track index) {
          <e-column headerText={{column.headerText}}
                    keyField='{{column.keyField}}'
                    [allowToggle]='column.allowToggle'
                    [allowDrop]='column.allowDrop'
                    [allowDrag]='column.allowDrag'
                    [transitionColumns]="column.transitionColumns"
          >
            <ng-template #template let-data>
              <div class="header-template-wrap">
<!--                <div class="header-icon e-icons {{data.keyField}}"></div>-->
                <div class="container text-center">
                  <div class="row">
                    <div class="advance-kanban-header-icon">
                      <span class="material-symbols-outlined">
                        {{colMatIcons[index]}}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="row advance-kanban-header-text">{{data.headerText}}</div>
                  </div>
                </div>
              </div>
            </ng-template>
          </e-column>
        }
      </e-columns>

      <ng-template #swimlaneSettingsTemplate let-data>
        <div id="swimlaneTemplate">
          <div class="swimlane-template e-swimlane-template-table">
            <div class="e-swimlane-row-text">
              {{data.textField}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #cardSettingsTemplate let-data>
        <div class='card-template'>
          <div class='e-card-header'>
            <div class='e-card-header-caption'>
              <div class='e-card-header-title e-tooltip-text'>{{ data.advanceName }}</div>
            </div>
          </div>

          <div class='e-card-content e-tooltip-text'>
            <div class='e-text'>Advance Requested: {{ data.amountRequested | currency: 'USD' : '$' : '1.0-2' }}</div>
          </div>
          <div class='e-card-custom-footer'>
            <!--            <div class="e-card-tag-field e-tooltip-text" *ngFor="let tag of data.Tags.split(',');">{{tag}}</div>-->
            <div class='e-card-avatar'>{{ getString(data.displayName) }}</div>
          </div>
        </div>
      </ng-template>


    </ejs-kanban>
    </div>
  </div>
</div>
