<div style="text-align: center">
  <h1>Commission Accelerator Kanban Workflow Demo</h1>
  <h3>Version: {{version}}</h3>
</div>

<div class="control-section">
  <div class="content-wrapper">
    <ejs-kanban
      #kanbanObj
      cssClass="kanban-overview"
      keyField="advanceStatus"
      [dataSource]="kanbanData"
      [enableTooltip]="enableToolTip"
      [cardSettings]="cardSettings"
      [swimlaneSettings]="swimLaneSettings"
      (cardDoubleClick)="cardDoubleClick($event)"
    >
      <e-columns>
        @for(column of columns; track $index) {
          <e-column headerText={{column.headerText}}
                    keyField='{{column.keyField}}'
                    [allowToggle]='column.allowToggle'
                    [allowDrop]='column.allowDrop'
                    [allowDrag]='column.allowDrag'
                    [transitionColumns]="column.transitionColumns"
          >
            <ng-template #template let-data>
              <div class="header-template-wrap">
                <div class="header-icon e-icons {{data.keyField}}"></div>
                <div class="header-text">{{data.headerText}}</div>
              </div>
            </ng-template>
          </e-column>
        }
      </e-columns>

      <ng-template #cardSettingsTemplate let-data>
        <div class='card-template'>
          <div class='e-card-header'>
            <div class='e-card-header-caption'>
              <div class='e-card-header-title e-tooltip-text'>{{data.advanceName}}</div>
            </div>
          </div>
          <div class='e-card-content e-tooltip-text'>
            <div class='e-text'>Advance Requested: {{data.advanceRequested}}</div>
          </div>
          <div class='e-card-custom-footer'>
            <!--            <div class="e-card-tag-field e-tooltip-text" *ngFor="let tag of data.Tags.split(',');">{{tag}}</div>-->
            <div class='e-card-avatar'>{{getString(data.displayName)}}</div>
          </div>
        </div>
      </ng-template>

      <ng-template #dialogSettingsTemplate let-data>

      </ng-template>

    </ejs-kanban>
  </div>
</div>
