<div class="col-md-12">
    <app-card cardTitle="Users (not Clients)" cardClass="tab-card tab-content" blockClass="nav-fill" >
        <div *ngIf="!showForm">
            <button (click)="toggleShowForm($event)">Add New User</button>
        </div>
        <div
            *ngIf="showForm"
            [@openClose]="isOpen ? 'open' : 'closed'"
            (@openClose.start)="onAnimationEvent($event)"
            (@openClose.done)="onAnimationEvent($event)"
        >
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div style="width: 50%" >
                            <h4 class="mb-3 f-w-400">Add New User</h4>
                        </div>
                        <div style="width: 50%" >
                            <button style="float: right" (click)="toggleShowForm($event)">Close</button>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/dashboard/users" (submit)="onFormSubmit($event)">
                            <dx-form
                            id="newUserForm"
                            [formData]="newUser"
                            [readOnly]="false"
                            [showColonAfterLabel]="true"
                            [showValidationSummary]="true"
                            validationGroup="clientData"
                            >
                                <dxi-item dataField="firstName" caption="First Name">
                                    <dxi-validation-rule type="required" message="Your First name is required"></dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" [pattern]="namePattern" message="Do not use digits in the First Name"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item dataField="lastName" >
                                    <dxi-validation-rule type="required" message="Your Last name is required"></dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" [pattern]="namePattern" message="Do not use digits in the Last Name"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item dataField="Email">
                                    <dxi-validation-rule type="required" message="Email is required">
                                    </dxi-validation-rule>
                                    <dxi-validation-rule type="email" message="Email is invalid">
                                    </dxi-validation-rule>

                                </dxi-item>
                                <dxi-item dataField="Password" [editorOptions]="passwordOptions">
                                    <dxi-validation-rule type="required" message="Password is required">
                                    </dxi-validation-rule>
                                </dxi-item>
                                <dxi-item
                                    name="ConfirmPassword"
                                    editorType="dxTextBox"
                                    [editorOptions]="confirmOptions"
                                >
                                    <dxo-label text="Confirm Password"> </dxo-label>
                                    <dxi-validation-rule
                                        type="required"
                                        message="Confirm Password is required"
                                    >
                                    </dxi-validation-rule>
                                    <dxi-validation-rule
                                        type="compare"
                                        [comparisonTarget]="passwordComparison"
                                        message="Password and Confirm Password do not match"
                                    >
                                    </dxi-validation-rule>
                                </dxi-item>
                                <dxi-item
                                    dataField="roles"
                                    editorType="dxTagBox"
                                    [editorOptions]="tagBoxOptions"
                                >
                                </dxi-item>
                                <dxi-item
                                    itemType="button"
                                    horizontalAlignment="left"
                                    [buttonOptions]="buttonOptions"
                                >
                                </dxi-item>
                            </dx-form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <dx-data-grid
            id="usersDataGrid"
            [dataSource]="dataSource"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            remoteOperations="false"

        >
            <dxo-editing
                mode="popup"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="false"
            ></dxo-editing>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column
                dataField="photoURL"
                [allowFiltering]="false"
                [allowSorting]="false"
                cellTemplate="photoTemplate"
                width="100"></dxi-column>
            <dxi-column dataField="displayName" dataType="string" width="auto" readonly="true"></dxi-column>
            <dxi-column dataField="email" dataType="string" width="auto" readonly="true"></dxi-column>
            <dxi-column dataField="emailVerified" width="auto" dataType="boolean"></dxi-column>
            <dxi-column dataField="lastLogin" dataType="string" readonly="true"></dxi-column>
            <dxi-column dataField="roles" editCellTemplate="tagBoxEditor"></dxi-column>
            <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
                <dx-tag-box
                    [dataSource]="rolesDataSource"
                    displayExpr="key"
                    valueExpr="value"
                    [value]="cellInfo.value"
                    [hideSelectedItems]="true"
                    (onValueChanged)="updateRoles($event, cellInfo)"
                   >
                </dx-tag-box>
            </div>
            <div *dxTemplate="let data of 'photoTemplate'">
                <div *ngIf="data.value">
                    <img [src]="data.value" alt="Profile Picture" (error)="imgErrorHandler($event)" />
                </div>
                <div *ngIf="!data.value">
                    <img style="width: 96px" alt="default" src="../../../../assets/images/user/default-user.png" />
                </div>
            </div>
        </dx-data-grid>
    </app-card>
</div>
<!--<p>Dash Users Works!</p>-->
