<table mat-table #fileDetails [dataSource]="files" class="mat-elevation-z8">
  @if(fmType === 'admin'){
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let file">
          <i
            class="bi {{verifyStatus[file.meta.metadata.verifyStatus || 0].icon}}"
            [style.color]="verifyStatus[file.meta.metadata.verifyStatus || 0].iconColor"
            [style.font-size]="'2.0rem'"
            [matTooltip]="verifyStatus[file.meta.metadata.verifyStatus || 0].hint"
            matTooltipPosition="right"
          ></i>
        </td>
      </ng-container>
  }

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let file">
      <i class="bi bi-filetype-{{file.fileType}}" style="font-size: 1.5rem"></i>
      @if(fmType === 'admin') {
      &nbsp;&nbsp;<span style="color: blue; text-underline: #3c5a99; text-decoration: underline; cursor: pointer" (click)="openFileDisplayModal(file)" >{{file.name}}</span>
      } @else {
        <span>{{file.name}}</span>
      }
    </td>
  </ng-container>

  @if(fmType === 'admin') {
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>Size</th>
      <td mat-cell *matCellDef="let file">{{file.size}}</td>
    </ng-container>
  }
  <tr mat-header-row  *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
