<div class="col-md-12">
    <app-card cardTitle="Clients (not Users)" cardClass="tab-card tab-content" blockClass="nav-fill" >
        <dx-data-grid
            id="clientsDataGrid"
            [dataSource]="dataSource"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            remoteOperations="false"
        >
            <dxo-editing
                mode="popup"
                [allowUpdating]="false"
                [allowDeleting]="false"
                [allowAdding]="false"
            ></dxo-editing>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column type="buttons" [width]="110">
                <dxi-button
                    hint="Verify"
                    icon="copy"
                    [visible]="verifyIconVisible"
                    [disabled]="verifyIconDisabled"
                    [onClick]="verifyClientEvent"
                ></dxi-button>
            </dxi-column>
            <dxi-column dataField="displayName" dataType="string" width="auto" readonly="true"></dxi-column>
            <dxi-column dataField="email" dataType="string" width="auto" readonly="true"></dxi-column>
            <dxi-column dataField="emailVerified" width="auto" dataType="boolean"></dxi-column>
            <dxi-column dataField="roles" editCellTemplate="tagBoxEditor"></dxi-column>
            <dxi-column dataField="status" dataType="string"></dxi-column>
            <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
                <dx-tag-box
                    [dataSource]="rolesDataSource"
                    displayExpr="key"
                    valueExpr="value"
                    [value]="cellInfo.value"
                    [hideSelectedItems]="true"
                    (onValueChanged)="updateRoles($event, cellInfo)"
                >
                </dx-tag-box>
            </div>
        </dx-data-grid>
    </app-card>
</div>
