<div class="col-md-12">
  <app-card cardTitle="Clients (not Users)" cardClass="tab-card tab-content" blockClass="nav-fill" >
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px" (click)="refreshClientData()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
      </svg>
      refresh
    </button>
    @if(loadingClients) {
      <section class="client-load-spinner-section">
        <h3>Loading Clients</h3>
        <mat-progress-spinner
          class="client-load-spinner-margin"
          [color]="loadSpinnerColor"
          [mode]="loadSpinnerMode"
          [diameter]="loadSpinnerDiameter"
        ></mat-progress-spinner>
      </section>
    } @else{
    <table
      mat-table
      [dataSource]="clientDataSource" multiTemplateDataRows="true"
      class="mat-elevation-z8"
    >
      @for (column of clientColumnsToDisplay; track $index) {
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef> {{clientColumnNamesToDisplay[$index]}} </th>
            <td mat-cell *matCellDef="let client">
              @if(isColumnTypeBool(client[column])) {
<!--                <mat-icon color="primary" fontIcon="{{client[column] | matBoolDisplay}}"></mat-icon>-->
                <span>
                  <i class="bi {{client[column] | matBoolDisplay: 'bs' }}"></i>
                </span>
              } @else {
                {{ client[column] }}
              }
            </td>
        </ng-container>
      }

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let client">
          @if(client.roles.indexOf('CLIENT-PENDING-REGISTRATION') === -1) {
            <button mat-icon-button aria-label="expand row" [id]="client.uid" (click)="onExpandRow($event, client)">
              @if (expandedClient === client) {
                <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
                <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          }
        </td>
      </ng-container>
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let client" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-client-detail"
               [@detailExpand]="client === expandedClient ? 'expanded' : 'collapsed'">
            <div class="example-client-diagram">
              @if(client === expandedClient) {
                <app-client-verify-mat [clientData]="clientVerifyData"></app-client-verify-mat>
              }
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let client; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedClient === client"
      >
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    }
  </app-card>
</div>
