<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows="true"
  class="mat-elevation-z8"
>
  @for(column of columnsToDisplayWithActions; track $index) {
    @if(column !== 'ledgerActions'){
      <ng-container matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'black'" [style.color]="'white'">{{columnNamesToDisplay[$index]}}</th>
        <td mat-cell *matCellDef="let item">
          @if(column.indexOf('.') === -1) {
            @if(columnsConfig.has(column)){
              @if(columnsConfig.get(column).type === 'currency') {
                <span [ngStyle]="{'color': item[column] < 0 ? 'red': 'black'}">
                {{ (item[column] | mask: columnsConfig.get(column).mask : {allowNegativeNumbers: true, thousandSeparator:columnsConfig.get(column).thousandSeparator, prefix: columnsConfig.get(column).prefix, leadZero: true}) || 'Not Set Yet' }}
                </span>
                  }
              @if(columnsConfig.get(column).type === 'date'){
                {{item[column] | date: columnsConfig.get(column).format}}
              }
            }@else if(helpers.isColumnTypeBool(item[column])) {
              <span>
                  <i class="bi {{item[column] | matBoolDisplay: 'bs' }}"></i>
              </span>
            } @else {
              {{ item[column] || 'Not Set Yet' }}
            }
          } @else {
            @if(columnsConfig.has(column)){
              @if(columnsConfig.get(column).type === 'currency') {
                <span [ngStyle]="{'color': item[column] < 0 ? 'red': 'black'}">
                {{ (item | nestedCol: column | mask: columnsConfig.get(column).mask : {allowNegativeNumbers: true, thousandSeparator:columnsConfig.get(column).thousandSeparator, prefix: columnsConfig.get(column).prefix, leadZero: true}) || 'Not Set Yet' }}
                </span>
              }
              @if(columnsConfig.get(column).type === 'date'){
                {{item[column] | nestedCol: column | date: columnsConfig.get(column).format}}
              }
            }@else if(helpers.isColumnTypeBoolNested(item, column)) {
              <span>
                  <i class="bi {{item | nestedCol: column | matBoolDisplay: 'bs' }}"></i>
                </span>
            } @else {
              {{ item | nestedCol: column || 'Not Set Yet' }}
            }
          }
        </td>
      </ng-container>
    } @else {
      <ng-container matColumnDef="ledgerActions">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" [style.background-color]="'black'" [style.color]="'white'" [style.width]="'15%'">Actions</th>
        <td mat-cell *matCellDef="let ledger">
          <button
            mat-icon-button
            aria-label="Edit Option"
            matTooltip="Edit Option"
            matTooltipPosition="left"
            (click)="editItem($event, ledger)"
          >
            <i
              class="bi bi-pencil-fill"
              [style.color]="'darkgreen'"
            ></i>
          </button>

          <button
            mat-icon-button
            aria-label="expand row"
            matTooltip="Show Ledger Items"
            matTooltipPosition="left"
            [id]="ledger"
            (click)="onExpandRow($event, ledger)"
          >
            @if (expandedLedger === ledger) {
              <mat-icon fontIcon="keyboard_arrow_up"></mat-icon>
            } @else {
              <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
            }
          </button>

        </td>
      </ng-container>
    }

  }
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let ledger" [attr.colspan]="columnsToDisplayWithActions.length">
      <div class="example-option-detail"
           [@detailExpand]="ledger === expandedLedger ? 'expanded' : 'collapsed'">
        <div class="example-option-diagram-x">
          <app-ledger-items-dg  [dgDataObj]="ledger" [loadingItems]="loadingItems" [user]="user" ></app-ledger-items-dg>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithActions"></tr>
  <tr
    mat-row
    *matRowDef="let ledger; columns: columnsToDisplayWithActions;"
    class="example-option-row"
    [class.example-expanded-row]="expandedLedger === ledger"

  ></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator #paginator
               [length]="totalItemsCount"
               [pageSize]="50"
               [disabled]="'false'"
               [pageSizeOptions]="[ 5, 10, 25, 50, 100]"
               showFirstLastButtons="showFirstLastButtons"
               (page)="onPageEvent($event)"
></mat-paginator>

