.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-form-field {
  margin-top: 16px;
  min-width: 100%;
}

.items-load-spinner-section {
  display: block;
  text-align: center;
  height: 90px;
}

.items-load-spinner-margin {
  margin: auto;
}
