<div #FormContainer id="FormContainer">
  <mat-toolbar color="antiquewhite">
    <span class="example-spacer"></span>
    <button
      style="background-color: transparent; border: 0; "
      [mat-dialog-close]="true"
    >
      <i style=" color: red; font-size: 2rem" class="bi bi-x-square-fill"></i>
    </button>
  </mat-toolbar>
  <div mat-dialog-title style="border-bottom: #3c5a99 1px solid; text-align: center">
    <h3>Add or Edit {{formTag}}</h3>
  </div>
  @if(loadingForm) {
    <section class="items-load-spinner-section">
      <h3>Loading {{formTag}} Form</h3>
      <mat-progress-spinner
        class="items-load-spinner-margin"
        [color]="loadSpinnerColor"
        [mode]="loadSpinnerMode"
        [diameter]="loadSpinnerDiameter"
      ></mat-progress-spinner>
    </section>
  } @else {
    <mat-dialog-content>
      <form [formGroup]="formGroup" (submit)="onSubmit($event)" >
        @for(row of rows; track $index) {
          <div class="row">
            @for(field of row; track $index) {
              @if(field.conditional) {
                <div class="col" [style.width]="'{{field.condWidth || 50}}%'">
                  <mat-form-field>
                    <mat-label [ngStyle]="{'margin-left.px': 40, 'margin-top.px': 15}" >{{field.condFieldLabel}}</mat-label>
                    <input hidden="hidden" matInput />
                    <mat-checkbox
                      (change)="checkboxChange($event)"
                      formControlName="{{field.condFcn}}"
                      [required]="field.condRequired"
                      name="{{field.condFcn}}.{{field.fcn}}"
                    ></mat-checkbox>
                  </mat-form-field>
                </div>
              }
              <div class="col"   [style.width]="'{{field.width}}%'">
                @if(!['address'].includes(field.type)){
                  <mat-form-field [ngStyle]="{'display': fields.get(field.fcn)!.hide ? 'none': 'inline-flex'}">
                    <mat-label>{{field.fieldLabel}}</mat-label>
                    @if(!field.type || field.type === 'text') {
                      <input
                        matInput
                        placeholder="{{field.placeholder}}"
                        formControlName="{{field.fcn}}"
                        [required]="field.required"
                        [mask]="field.mask || ''"
                        [autocapitalize]="field.autoCapitalize"
                        (input)="onFieldChange($event)"
                        id="{{fieldIdPrefix + '-' + field.fcn }}"
                      >
                    }
                    @if(field.type === 'date'){
                      <ng-container>
                        <input
                          matInput
                          placeholder="{{field.placeholder}}"
                          formControlName="{{field.fcn}}"
                          [required]="field.required"
                          [matDatepicker]="datePicker"
                          (dateChange)="onDateChange($event)"
                          [id]="field.pickerId"
                          style="color: black"
                        >
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker disabled="false" #datePicker [startView]="field.startView"></mat-datepicker>
                      </ng-container>
                    }
                    @if(field.type === 'currency'){
                      <input
                        matInput
                        type="text"
                        placeholder="{{field.placeholder}}"
                        formControlName="{{field.fcn}}"
                        [required]="field.required"
                        mask="separator"
                        thousandSeparator=","
                        decimalMarker="."
                        prefix="$"
                      >
                    }
                    @if(field.type === 'quantity'){
                      <input
                        matInput
                        placeholder="{{field.placeholder}}"
                        formControlName="{{field.fcn}}"
                        [required]="field.required"
                        mask="separator"
                        thousandSeparator=","
                        decimalMarker="."
                      >
                    }
                    @if(field.type === 'select'){
                      <mat-select
                        placeholder="{{field.placeholder}}"
                        formControlName="{{field.fcn}}"
                        [required]="field.required"
                      >
                          @for(option of field.options; track $index) {
                            <mat-option
                              [value]="option.value"
                            >
                              {{option.key}}
                            </mat-option>
                          }
                      </mat-select>
                    }
                    @if(field.type === 'boolean') {
                      <input hidden="hidden" matInput />
                      <mat-checkbox
                        formControlName="{{field.fcn}}"
                      ></mat-checkbox>
                    }
                    @if(field.type === 'chips'){
                      <input matInput hidden="hidden" />
                      <app-chip-list
                        [formGroup]="formGroup"
                        [currChips]="formGroup.controls[field.fcn].value"
                        [field]="field"
                        [validChips]="chipsList.get(field.fcn)"
                        (chipListChange)="chipListChange($event)"
                      ></app-chip-list>
                    }
                  </mat-form-field>
                    }
                    @if(field.type === 'address' && field.required){
                      <app-address-form
                        [addressFormGroup]="controls[field.fcn]"
                        [addrField]="fields.get(field['fcn'])"
                      ></app-address-form>
                    }

              </div>
            }
          </div>
        }
        <button mat-button type="submit" [disabled]="!formGroup.valid || !formGroup.dirty" [mat-dialog-close]="true">Save</button>
        <button mat-button [mat-dialog-close]="true">Cancel</button>
      </form>
    </mat-dialog-content>
  }
</div>
