
<h2 mat-dialog-title>{{ data.fileItem.name }}</h2>

  @if(['jpg', 'jpeg', 'png'].includes( data.fileItem.fileType )) {
    <p style="text-align: center;margin-top: 0; margin-bottom: 0">
      <img [src]="itemUrl" alt="" height="250"/>
    </p>
  }
  @if(data.fileItem.fileType === 'pdf') {
    <pdf-viewer
      [zoom]="1"
      [zoom-scale]="'page-fit'"
      [original-size]="false"
      [src]="item"
      style="max-width: 850px; height: 800px; width: 800px"
    ></pdf-viewer>
  }






<!--<div class="embed-container">-->
<!--  <iframe-->
<!--    [src]="data.fileItem.downloadLink | safe: 'resourceUrl'"-->
<!--    width="700"-->
<!--    height="480">-->
<!--  </iframe>-->
<!--</div>-->
