<div class="col-md-12">
  <app-card cardTitle="Options (Dropdowns, etc.)" cardClass="tab-card tab-content" blockClass="nav-fill" >

    @if(loadingOptions) {
      <section class="option-load-spinner-section">
        <h3>Loading Options</h3>
        <mat-progress-spinner
          class="option-load-spinner-margin"
          [color]="loadSpinnerColor"
          [mode]="loadSpinnerMode"
          [diameter]="loadSpinnerDiameter"
        ></mat-progress-spinner>
      </section>
    } @else {
      <mat-toolbar>
        <button
          type="button"
          class="btn btn-primary"
          style="margin-bottom: 10px"
          (click)="refreshOptionsList()">
          <i class="bi bi-arrow-repeat"></i>&nbsp;Refresh Options List</button>
        <span class="example-spacer"></span>
        <button
          type="button"
          class="btn btn-primary"
          style="margin-bottom: 10px"
          (click)="addOption($event)">
          <i class="bi bi-plus-circle"></i>&nbsp;Add New Option Type</button>
      </mat-toolbar>
      <table
        mat-table
        [dataSource]="optionsDataSource"
        multiTemplateDataRows="true"
        class="mat-elevation-z8"
      >
        @for(optionColumn of optionColumnsToDisplay; track $index) {
          <ng-container matColumnDef="{{optionColumn}}">
            <th mat-header-cell *matHeaderCellDef [style.background-color]="'black'" [style.color]="'white'">{{optionColumnNamesToDisplay[$index]}}</th>
            <td mat-cell *matCellDef="let option">
              {{option[optionColumn]}}
            </td>
          </ng-container>
        }
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions" [style.background-color]="'black'" [style.color]="'white'">Actions</th>
          <td mat-cell *matCellDef="let option">
            <button
              mat-icon-button
              aria-label="Edit Option"
              matTooltip="Edit Option"
              matTooltipPosition="left"
              (click)="editOption($event, option)"
            >
              <i
                class="bi bi-pencil-fill"
                [style.color]="'darkgreen'"
              ></i>
            </button>
            <button
              mat-icon-button
              aria-label="Delete Option"
              matTooltip="Delete Option"
              matTooltipPosition="left"
              (click)="deleteOption($event, option)"
            >
              <i
                class="bi bi-trash3-fill"
                [style.color]="'red'"
              ></i>
            </button>
            <button
              mat-icon-button
              aria-label="expand row"
              matTooltip="Show Option Values"
              matTooltipPosition="left"
              [id]="option.id"
              (click)="onExpandRow($event, option)"
            >
              @if (expandedOption === option) {
                <mat-icon fontIcon="keyboard_arrow_up"></mat-icon>
              } @else {
                <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
              }
            </button>

          </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let option" [attr.colspan]="optionColumnsToDisplayWithExpand.length">
            <div class="example-option-detail"
              [@detailExpand]="option === expandedOption ? 'expanded' : 'collapsed'">
              <div class="example-option-diagram-x">
                <app-tbl-option-values-mat  [values]="option.values" [option]="option" ></app-tbl-option-values-mat>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="optionColumnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let option; columns: optionColumnsToDisplayWithExpand;"
          class="example-option-row"
          [class.example-expanded-row]="expandedOption === option"

        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
        <mat-paginator #paginator
                       [length]="totalOptionCount"
                       [pageSize]="2"
                       [disabled]="'false'"
                       [pageSizeOptions]="[2, 5, 10, 25, 50, 100]"
                       showFirstLastButtons="showFirstLastButtons"
                       (page)="onPageEvent($event)"
        ></mat-paginator>
    }
  </app-card>
</div>
