.verifyDataTable table, tr,td {
  border-collapse: collapse;
  border: 2px solid
}
.verifyDataTable table {
  width: 100%;
}

.verification-load-spinner-section {
  display: block;
  text-align: center;
  height: 110px;
}

.verification-load-spinner-margin {
  margin: auto;
}

.verification-accord-h4 {
  font-size: 1rem;
}

.d-flex {
  display: flex !important;
}
.d-gap-2 {
  gap: 0.5rem !important;
}

