@if(loadingVerification) {
  <section class="verification-load-spinner-section">
    <h3>Loading Verification Data</h3>
    <mat-progress-spinner
      class="verification-load-spinner-margin"
      [color]="loadSpinnerColor"
      [mode]="loadSpinnerMode"
      [diameter]="loadSpinnerDiameter"
    ></mat-progress-spinner>
  </section>
} @else{
<mat-accordion>
  @for (item of verifyDataSource; track $index) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4 class="verification-accord-h4">{{ item.key | cleanVerifyItemName}}</h4>
        </mat-panel-title>
        <mat-panel-description>
          <i
            class="bi {{verifyStatus[item.value['status']].icon}}"
            [style.color]="verifyStatus[item.value['status']].iconColor"
            [style.font-size]="'1.5rem'"
          ></i>
          {{verifyStatus[item.value['status']].status}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <section>
        <div class="row">
          <table class="verifyDataTable">
            <tr>
              <td style="width: 25%">
                Research Data
              </td>
              <td>
                {{item.value['researchData']['data']}}
              </td>
            </tr>
            <tr>
              <td style="width: 25%">
                Client Entered Data
              </td>
              <td>
                {{item.value['clientEnteredData']['data']}}
              </td>
            </tr>
          </table>
        </div>
      </section>
    </mat-expansion-panel>
  }
</mat-accordion>
}
