<div class="mat-elevation-z8">
<div class="row">
  <div class="col"><h3 style="margin-left: 15px; margin-top: 15px;">Client Verification Data</h3></div>
  <div class="col"></div>
  <div class="col">
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px; margin-top: 15px; float: right" (click)="refreshVerificationData()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
      </svg>
      Refresh Verification Data
    </button>
  </div>
</div>
@if(loadingVerification) {
  <section class="verification-load-spinner-section">
    <h3>Loading Verification Data</h3>
    <mat-progress-spinner
      class="verification-load-spinner-margin"
      [color]="loadSpinnerColor"
      [mode]="loadSpinnerMode"
      [diameter]="loadSpinnerDiameter"
    ></mat-progress-spinner>
  </section>
} @else{
<mat-accordion>
  <mat-expansion-panel hideToggle="true" style="background-color: black; ">
    <mat-expansion-panel-header >
      <mat-panel-title>
        <span style="color: white">Verification Data</span>
      </mat-panel-title>
      <mat-panel-description>
        <div class="row">
          <div class="col"><span style="color: white">Result</span></div>
          <div class="col"><span style="color: white">Actions</span></div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  @for (item of verifyDataSource; track $index) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4 class="verification-accord-h4">{{ item.key | cleanVerifyItemName}}</h4>
        </mat-panel-title>
        <mat-panel-description>
          <span >
                      <i
                        class="bi {{verifyStatus[item.value['status']].icon}}"
                        [style.color]="verifyStatus[item.value['status']].iconColor"
                        [style.font-size]="'1.5rem'"
                        [matTooltip]="verifyStatus[item.value['status']].hint"
                        matTooltipPosition="left"
                      ></i>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <section>
        @if(item.key !== 'CLIENT_DOCUMENTS') {
        <div class="row">
          <table class="verifyDataTable">
            <tr>
              <td style="width: 10%">
                Research Data
              </td>
              <td>
                {{item.value['researchData']['data']}}
              </td>
              <th style="width: 45%" rowspan="2">
                <button type="button" class="btn btn-outline-success" style="margin-left: 10px" [disabled]="itemDisable('accept', item)">
                  <i
                    class="bi {{verifyStatus[4].icon}}"
                    [style.color]="verifyStatus[4].iconColor"
                    [style.font-size]="'1.0rem'"
                    [matTooltip]="verifyStatus[4].hint"
                    matTooltipPosition="left"
                  ></i>
                  Accept
                </button>

                <button type="button" class="btn btn-outline-danger" style=" margin-left: 10px" [disabled]="itemDisable('reject', item)">
                  <i
                    class="bi {{verifyStatus[5].icon}}"
                    [style.color]="verifyStatus[5].iconColor"
                    [style.font-size]="'1.0rem'"
                    [matTooltip]="verifyStatus[5].hint"
                    matTooltipPosition="left"
                  ></i>
                  Reject
                </button>

                <button type="button" class="btn btn-outline-warning" style=" margin-left: 10px; font-weight: 700;"
                        [disabled]="itemDisable('enter', item)"
                        (click)="adminDataEntry($event, item)"
                >
                  <i
                    class="bi {{verifyStatus[7].icon}}"
                    [style.color]="verifyStatus[7].iconColor"
                    [style.font-size]="'1.0rem'"
                    [matTooltip]="verifyStatus[7].hint"
                    matTooltipPosition="left"
                  ></i>
                  Admin
                </button>
              </th>
            </tr>
            <tr>
              <td style="width: 25%">
                Client Entered Data
              </td>
              <td style="width: 50%">
                {{item.value['clientEnteredData']['data']}}
              </td>
            </tr>
            @if (item.value['adminEnteredData']) {
              <tr>
                <td style="width: 25%">
                  Admin Entered Data
                </td>
                <td style="width: 50%">
                  <mat-form-field
                    style="width: 100%"
                    subscriptSizing="dynamic"

                  >
                    <input
                      matInput
                      [(ngModel)]="item.value['adminEnteredData']['data']"
                      [readonly]="!item.value['adminEnteredData']['editable']"
                      #adminInput="matInput"
                    />
                  </mat-form-field>
                </td>

              <td style="width: 45%" rowspan="1">
                <button type="button" class="btn btn-outline-primary" style=" margin-left: 10px;"
                        (click)="adminDataEntryEdit($event, item)"
                >
                  <i
                    class="bi bi-pen-fill"
                    [style.color]="'green'"
                    [style.font-size]="'1.0rem'"
                    matTooltip="Edit"
                  ></i>
                </button>
                <button type="button" class="btn btn-outline-success" style=" margin-left: 10px;"
                        (click)="adminDataEntrySave($event, item)"
                >
                  <i
                    class="bi bi-floppy-fill"
                    [style.color]="'blue'"
                    [style.font-size]="'1.0rem'"
                    matTooltip="Save"
                  ></i>
                </button>
                <button type="button" class="btn btn-outline-danger" style=" margin-left: 10px;">
                  <i
                    class="bi bi-trash3-fill"
                    [style.color]="'red'"
                    [style.font-size]="'1.0rem'"
                    matTooltip="Delete"
                  ></i>
                </button>
              </td>
              </tr>
            }
          </table>
        </div>
        } @else if (item.key === 'CLIENT_DOCUMENTS') {
          <p>Documents require visual verification.</p>
          <p>Use Client Files Manager below to view documents and take action.</p>
        }
      </section>
    </mat-expansion-panel>
  }
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><h4 class="verification-accord-h4">Client Registration Files Manager</h4></mat-panel-title>
    </mat-expansion-panel-header>
    <app-file-manager [docInfo]="verifyDocInfo" [clientId]="clientData.uid" [bucket]="clientData.bucket"></app-file-manager>
  </mat-expansion-panel>
</mat-accordion>
}
</div>
