<div class="row">
  <!-- product profit start -->
  <div class="col-xl-3 col-md-6" *ngFor="let card of cards">
    <app-card [hidHeader]="true" cardClass="prod-p-card {{ card.background }}">
      <div class="row align-items-center m-b-0">
        <div class="col">
          <h6 class="m-b-5 text-white">{{ card.title }}</h6>
          <h3 class="m-b-0 text-white">{{ card.amount }}</h3>
        </div>
        <div class="col-auto">
          <i class="{{ card.icon }} text-white"></i>
        </div>
      </div>
    </app-card>
  </div>
  <!-- product profit end -->

  <!-- account-section start -->
  <div class="col-xl-7">
    <app-card cardTitle="Department wise annual recurring and profit" [options]="false">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [stroke]="chartOptions.stroke"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [colors]="chartOptions.colors"
        [fill]="chartOptions.fill"
        [labels]="chartOptions.labels"
        [tooltip]="chartOptions.tooltip"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend"
      ></apx-chart>
    </app-card>
  </div>
  <div class="col-xl-5">
    <app-card cardTitle="Feeds" cardClass="feed-card" blockClass="scrollable-body" [options]="false">
      <ng-scrollbar style="height: 385px" visibility="hover">
        <div class="row m-b-20 m-t-5 align-items-center" *ngFor="let list of feeds">
          <div class="col-auto p-r-0">
            <i class="feather {{ list.icon }} feed-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6 class="m-b-5"
                >{{ list.title }} <span class="text-muted float-end f-14">{{ list.time }}</span></h6
              >
            </a>
          </div>
        </div>
      </ng-scrollbar>
    </app-card>
  </div>
  <!-- account-section end -->

  <!-- customer-section start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="New Products" cardClass="table-card" [options]="false">
      <ng-scrollbar style="height: 325px" visibility="hover">
        <div class="table-responsive">
          <table class="table table-hover m-b-0">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of new_product">
                <td>{{ list.name }}</td>
                <td><img src="{{ list.src }}" alt="product-img" class="img-20" /></td>
                <td>
                  <div
                    ><label class="badge {{ list.background }}">{{ list.status }}</label></div
                  >
                </td>
                <td>{{ list.price }}</td>
                <td
                  ><a href="javascript:" title="Edit"><i class="icon feather-edit f-16 text-c-green"></i></a
                  ><a href="javascript:" title="Delete"><i class="feather-trash-2 ms-3 f-16 text-c-red"></i></a
                ></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-scrollbar>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card [hidHeader]="true">
      <h6>Customer Satisfaction</h6>
      <span
        >It takes continuous effort to maintain high customer satisfaction levels.Internal and external quality measures are often tied
        together.,as the opinion...</span
      >
      <span class="text-c-blue d-block">Learn more..</span>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <apx-chart
            [series]="chartOptions_1.series"
            [chart]="chartOptions_1.chart"
            [dataLabels]="chartOptions_1.dataLabels"
            [labels]="chartOptions_1.labels"
            [legend]="chartOptions_1.legend"
            [theme]="chartOptions_1.theme"
            [responsive]="chartOptions_1.responsive"
          ></apx-chart>
        </div>
      </div>
    </app-card>
  </div>
  <!-- customer-section end -->
</div>
