<div class="row">
  <!-- [ default-checkbox ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Default checkbox</h5>
    <hr />
    <div class="form-group">
      <div class="checkbox d-inline">
        <input type="checkbox" name="checkbox-1" id="checkbox-1" checked />
        <label for="checkbox-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox d-inline">
        <input type="checkbox" name="checkbox-1" id="checkbox-2" />
        <label for="checkbox-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox d-inline m-r-10">
        <input type="checkbox" id="checkbox-3" disabled />
        <label for="checkbox-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox d-inline m-r-10">
        <input type="checkbox" id="checkbox-4" disabled checked />
        <label for="checkbox-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-1" checked />
        <label for="checkbox-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-2" />
        <label for="checkbox-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-fill d-inline m-r-10">
        <input type="checkbox" name="checkbox-fill-3" id="checkbox-fill-3" disabled />
        <label for="checkbox-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-fill d-inline m-r-10">
        <input type="checkbox" id="checkbox-fill-4" disabled checked />
        <label for="checkbox-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox d-inline">
        <input type="checkbox" name="checkbox-in-1" id="checkbox-in-1" checked />
        <label for="checkbox-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox d-inline">
        <input type="checkbox" name="checkbox-in-1" id="checkbox-in-2" />
        <label for="checkbox-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-in-3" id="checkbox-infill-1" checked />
        <label for="checkbox-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-in-3" id="checkbox-infill-2" />
        <label for="checkbox-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ default-checkbox ] end -->
  <!-- [ primary-checkbox ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Primary checkbox</h5>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-primary d-inline">
        <input type="checkbox" name="checkbox-p-1" id="checkbox-p-1" checked />
        <label for="checkbox-p-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-primary d-inline">
        <input type="checkbox" name="checkbox-p-1" id="checkbox-p-2" />
        <label for="checkbox-p-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-primary d-inline m-r-10">
        <input type="checkbox" id="checkbox-p-3" disabled />
        <label for="checkbox-p-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-primary d-inline m-r-10">
        <input type="checkbox" id="checkbox-p-4" disabled checked />
        <label for="checkbox-p-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-primary checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-p-fill-1" id="checkbox-p-fill-1" checked />
        <label for="checkbox-p-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-primary checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-fill-p-1" id="checkbox-p-fill-2" />
        <label for="checkbox-p-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-primary checkbox-fill d-inline m-r-10">
        <input type="checkbox" name="checkbox-p-fill-3" id="checkbox-p-fill-3" disabled />
        <label for="checkbox-p-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-primary checkbox-fill d-inline m-r-10">
        <input type="checkbox" id="checkbox-p-fill-4" disabled checked />
        <label for="checkbox-p-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-primary d-inline">
        <input type="checkbox" name="checkbox-p-in-1" id="checkbox-p-in-1" checked />
        <label for="checkbox-p-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-primary d-inline">
        <input type="checkbox" name="checkbox-in-1" id="checkbox-p-in-2" />
        <label for="checkbox-p-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-primary checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-p-in-1" id="checkbox-p-infill-1" checked />
        <label for="checkbox-p-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-primary checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-p-in-1" id="checkbox-p-infill-2" />
        <label for="checkbox-p-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ primary-checkbox ] end -->
  <!-- [ Danger-checkbox ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Danger checkbox</h5>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-danger d-inline">
        <input type="checkbox" name="checkbox-d-1" id="checkbox-d-1" checked />
        <label for="checkbox-d-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-danger d-inline">
        <input type="checkbox" name="checkbox-d-1" id="checkbox-d-2" />
        <label for="checkbox-d-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-danger d-inline m-r-10">
        <input type="checkbox" id="checkbox-d-3" disabled />
        <label for="checkbox-d-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-danger d-inline m-r-10">
        <input type="checkbox" id="checkbox-d-4" disabled checked />
        <label for="checkbox-d-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-danger checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-d-fill-1" id="checkbox-d-fill-1" checked />
        <label for="checkbox-d-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-danger checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-fill-d-1" id="checkbox-d-fill-2" />
        <label for="checkbox-d-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-danger checkbox-fill d-inline m-r-10">
        <input type="checkbox" name="checkbox-d-fill-3" id="checkbox-d-fill-3" disabled />
        <label for="checkbox-d-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-danger checkbox-fill d-inline m-r-10">
        <input type="checkbox" id="checkbox-d-fill-4" disabled checked />
        <label for="checkbox-d-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-danger d-inline">
        <input type="checkbox" name="checkbox-d-in-1" id="checkbox-d-in-1" checked />
        <label for="checkbox-d-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-danger d-inline">
        <input type="checkbox" name="checkbox-in-1" id="checkbox-d-in-2" />
        <label for="checkbox-d-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-danger checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-d-in-1" id="checkbox-d-infill-1" checked />
        <label for="checkbox-d-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-danger checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-d-in-1" id="checkbox-d-infill-2" />
        <label for="checkbox-d-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ Danger-checkbox ] end -->
  <!-- [ success-checkbox ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Success checkbox</h5>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-success d-inline">
        <input type="checkbox" name="checkbox-s-1" id="checkbox-s-1" checked />
        <label for="checkbox-s-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-success d-inline">
        <input type="checkbox" name="checkbox-s-1" id="checkbox-s-2" />
        <label for="checkbox-s-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-success d-inline m-r-10">
        <input type="checkbox" id="checkbox-s-3" disabled />
        <label for="checkbox-s-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-success d-inline m-r-10">
        <input type="checkbox" id="checkbox-s-4" disabled checked />
        <label for="checkbox-s-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-success checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-s-fill-1" id="checkbox-s-fill-1" checked />
        <label for="checkbox-s-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-success checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-fill-s-1" id="checkbox-s-fill-2" />
        <label for="checkbox-s-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-success checkbox-fill d-inline m-r-10">
        <input type="checkbox" name="checkbox-s-fill-3" id="checkbox-s-fill-3" disabled />
        <label for="checkbox-s-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-success checkbox-fill d-inline m-r-10">
        <input type="checkbox" id="checkbox-s-fill-4" disabled checked />
        <label for="checkbox-s-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-success d-inline">
        <input type="checkbox" name="checkbox-s-in-1" id="checkbox-s-in-1" checked />
        <label for="checkbox-s-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-success d-inline">
        <input type="checkbox" name="checkbox-in-1" id="checkbox-s-in-2" />
        <label for="checkbox-s-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-success checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-s-in-1" id="checkbox-s-infill-1" checked />
        <label for="checkbox-s-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-success checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-s-in-1" id="checkbox-s-infill-2" />
        <label for="checkbox-s-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ success-checkbox ] end -->
  <!-- [ warning-checkbox ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Warning checkbox</h5>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-warning d-inline">
        <input type="checkbox" name="checkbox-w-1" id="checkbox-w-1" checked />
        <label for="checkbox-w-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-warning d-inline">
        <input type="checkbox" name="checkbox-w-1" id="checkbox-w-2" />
        <label for="checkbox-w-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-warning d-inline m-r-10">
        <input type="checkbox" id="checkbox-w-3" disabled />
        <label for="checkbox-w-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-warning d-inline m-r-10">
        <input type="checkbox" id="checkbox-w-4" disabled checked />
        <label for="checkbox-w-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-warning checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-w-fill-1" id="checkbox-w-fill-1" checked />
        <label for="checkbox-w-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-warning checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-fill-w-1" id="checkbox-w-fill-2" />
        <label for="checkbox-w-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-warning checkbox-fill d-inline m-r-10">
        <input type="checkbox" name="checkbox-w-fill-3" id="checkbox-w-fill-3" disabled />
        <label for="checkbox-w-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-warning checkbox-fill d-inline m-r-10">
        <input type="checkbox" id="checkbox-w-fill-4" disabled checked />
        <label for="checkbox-w-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-warning d-inline">
        <input type="checkbox" name="checkbox-w-in-1" id="checkbox-w-in-1" checked />
        <label for="checkbox-w-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-warning d-inline">
        <input type="checkbox" name="checkbox-in-1" id="checkbox-w-in-2" />
        <label for="checkbox-w-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-warning checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-w-in-1" id="checkbox-w-infill-1" checked />
        <label for="checkbox-w-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-warning checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-w-in-1" id="checkbox-w-infill-2" />
        <label for="checkbox-w-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ warning-checkbox ] end -->
  <!-- [ Info-checkbox ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Info checkbox</h5>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-info d-inline">
        <input type="checkbox" name="checkbox-i-1" id="checkbox-i-1" checked />
        <label for="checkbox-i-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-info d-inline">
        <input type="checkbox" name="checkbox-i-1" id="checkbox-i-2" />
        <label for="checkbox-i-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-info d-inline m-r-10">
        <input type="checkbox" id="checkbox-i-3" disabled />
        <label for="checkbox-i-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-info d-inline m-r-10">
        <input type="checkbox" id="checkbox-i-4" disabled checked />
        <label for="checkbox-i-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group">
      <div class="checkbox checkbox-info checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-i-fill-1" id="checkbox-i-fill-1" checked />
        <label for="checkbox-i-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-info checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-fill-i-1" id="checkbox-i-fill-2" />
        <label for="checkbox-i-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-info checkbox-fill d-inline m-r-10">
        <input type="checkbox" name="checkbox-i-fill-3" id="checkbox-i-fill-3" disabled />
        <label for="checkbox-i-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox checkbox-info checkbox-fill d-inline m-r-10">
        <input type="checkbox" id="checkbox-i-fill-4" disabled checked />
        <label for="checkbox-i-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-info d-inline">
        <input type="checkbox" name="checkbox-i-in-1" id="checkbox-i-in-1" checked />
        <label for="checkbox-i-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-info d-inline">
        <input type="checkbox" name="checkbox-in-1" id="checkbox-i-in-2" />
        <label for="checkbox-i-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Bordered checkbox</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="checkbox checkbox-info checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-i-in-1" id="checkbox-i-infill-1" checked />
        <label for="checkbox-i-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="checkbox checkbox-info checkbox-fill d-inline">
        <input type="checkbox" name="checkbox-i-in-1" id="checkbox-i-infill-2" />
        <label for="checkbox-i-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ Info-checkbox ] end -->
</div>
