<div class="row">
  <!-- [ default radio ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Default Radio</h5>
    <hr />
    <div class="form-group">
      <div class="radio d-inline">
        <input type="radio" name="radio-1" id="radio-1" checked />
        <label for="radio-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio d-inline">
        <input type="radio" name="radio-1" id="radio-2" />
        <label for="radio-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio d-inline m-r-10">
        <input type="radio" id="radio-3" disabled />
        <label for="radio-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio d-inline m-r-10">
        <input type="radio" id="radio-4" disabled checked />
        <label for="radio-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Radio Fill Button</h6>
    <hr />
    <div class="form-group">
      <div class="radio radio-s-fill-1 d-inline">
        <input type="radio" name="radio-fill-1" id="radio-fill-1" checked />
        <label for="radio-s-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-s-fill-1 d-inline">
        <input type="radio" name="radio-fill-1" id="radio-fill-2" />
        <label for="radio-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-s-fill-1 d-inline m-r-10">
        <input type="radio" name="radio-fill-3" id="radio-fill-3" disabled />
        <label for="radio-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-s-fill-1 d-inline m-r-10">
        <input type="radio" id="radio-fill-4" disabled checked />
        <label for="radio-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline Button</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio d-inline radio-infill">
        <input type="radio" name="radio-in-1" id="radio-in-1" checked />
        <label for="radio-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio d-inline radio-infill">
        <input type="radio" name="radio-in-1" id="radio-in-2" />
        <label for="radio-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Inline fill Button</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-infill d-inline">
        <input type="radio" name="radio-in-2" id="radio-infill-1" checked />
        <label for="radio-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-infill d-inline">
        <input type="radio" name="radio-in-2" id="radio-infill-2" />
        <label for="radio-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ default radio ] end -->
  <!-- [ primary radio ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Primary Radio</h5>
    <hr />
    <div class="form-group">
      <div class="radio radio-primary d-inline">
        <input type="radio" name="radio-p-1" id="radio-p-1" checked />
        <label for="radio-p-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-primary d-inline">
        <input type="radio" name="radio-p-1" id="radio-p-2" />
        <label for="radio-p-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-primary d-inline m-r-10">
        <input type="radio" id="radio-p-3" disabled />
        <label for="radio-p-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-primary d-inline m-r-10">
        <input type="radio" id="radio-p-4" disabled checked />
        <label for="radio-p-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Radio fill Button</h6>
    <hr />
    <div class="form-group">
      <div class="radio radio-primary radio-s-fill-1 d-inline">
        <input type="radio" name="radio-p-fill-1" id="radio-p-fill-1" checked />
        <label for="radio-s-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-primary radio-s-fill-1 d-inline">
        <input type="radio" name="radio-p-fill-1" id="radio-p-fill-2" />
        <label for="radio-p-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-primary radio-s-fill-1 d-inline m-r-10">
        <input type="radio" name="radio-p-fill-3" id="radio-p-fill-3" disabled />
        <label for="radio-p-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-primary radio-s-fill-1 d-inline m-r-10">
        <input type="radio" id="radio-p-fill-4" disabled checked />
        <label for="radio-p-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline Button</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-primary d-inline radio-infill">
        <input type="radio" name="radio-p-fill-5" id="radio-p-fill-5" checked />
        <label for="radio-p-fill-5" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-primary d-inline radio-infill">
        <input type="radio" name="radio-p-fill-5" id="radio-p-fill-6" />
        <label for="radio-p-fill-6" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Inline fill Button</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-primary radio-infill d-inline">
        <input type="radio" name="radio-p-in-1" id="radio-p-infill-1" checked />
        <label for="radio-p-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-primary radio-infill d-inline">
        <input type="radio" name="radio-p-in-1" id="radio-p-infill-2" />
        <label for="radio-p-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ primary radio ] end -->
  <!-- [ Danger radio ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Danger Radio</h5>
    <hr />
    <div class="form-group">
      <div class="radio radio-danger d-inline">
        <input type="radio" name="radio-d-1" id="radio-d-1" checked />
        <label for="radio-d-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-danger d-inline">
        <input type="radio" name="radio-d-1" id="radio-d-2" />
        <label for="radio-d-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-danger d-inline m-r-10">
        <input type="radio" id="radio-d-3" disabled />
        <label for="radio-d-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-danger d-inline m-r-10">
        <input type="radio" id="radio-d-4" disabled checked />
        <label for="radio-d-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Radio fill Button</h6>
    <hr />
    <div class="form-group">
      <div class="radio radio-danger radio-s-fill-1 d-inline">
        <input type="radio" name="radio-d-fill-1" id="radio-d-fill-1" checked />
        <label for="radio-d-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-danger radio-s-fill-1 d-inline">
        <input type="radio" name="radio-d-fill-1" id="radio-d-fill-2" />
        <label for="radio-d-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-danger radio-s-fill-1 d-inline m-r-10">
        <input type="radio" name="radio-d-fill-3" id="radio-d-fill-3" disabled />
        <label for="radio-d-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-danger radio-s-fill-1 d-inline m-r-10">
        <input type="radio" id="radio-d-fill-4" disabled checked />
        <label for="radio-d-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline Button</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-danger d-inline radio-infill">
        <input type="radio" name="radio-d-fill-5" id="radio-d-fill-5" checked />
        <label for="radio-d-fill-5" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-danger d-inline radio-infill">
        <input type="radio" name="radio-d-fill-5" id="radio-d-fill-6" />
        <label for="radio-d-fill-6" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Inline fill Button</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-danger radio-infill d-inline">
        <input type="radio" name="radio-d-in-1" id="radio-d-infill-1" checked />
        <label for="radio-d-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-danger radio-infill d-inline">
        <input type="radio" name="radio-d-in-1" id="radio-d-infill-2" />
        <label for="radio-d-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ Danger radio ] end -->
  <!-- [ success radio ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Success Radio</h5>
    <hr />
    <div class="form-group">
      <div class="radio radio-success d-inline">
        <input type="radio" name="radio-s-1" id="radio-s-1" checked />
        <label for="radio-s-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-success d-inline">
        <input type="radio" name="radio-s-1" id="radio-s-2" />
        <label for="radio-s-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-success d-inline m-r-10">
        <input type="radio" id="radio-s-3" disabled />
        <label for="radio-s-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-success d-inline m-r-10">
        <input type="radio" id="radio-s-4" disabled checked />
        <label for="radio-s-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Radio fill</h6>
    <hr />
    <div class="form-group">
      <div class="radio radio-success radio-s-fill-1 d-inline">
        <input type="radio" name="radio-s-fill-1" id="radio-s-fill-6" checked />
        <label for="radio-s-fill-6" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-success radio-s-fill-1 d-inline">
        <input type="radio" name="radio-s-fill-1" id="radio-s-fill-1-2" />
        <label for="radio-s-fill-1-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-success radio-s-fill-1 d-inline m-r-10">
        <input type="radio" name="radio-s-fill-3" id="radio-s-fill-3" disabled />
        <label for="radio-s-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-success radio-s-fill-1 d-inline m-r-10">
        <input type="radio" id="radio-s-fill-4" disabled checked />
        <label for="radio-s-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-success d-inline radio-infill">
        <input type="radio" name="radio-s-in-1" id="radio-s-in-1" checked />
        <label for="radio-s-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-success d-inline radio-infill">
        <input type="radio" name="radio-s-in-1" id="radio-s-in-2" />
        <label for="radio-s-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Inline fill</h6>
    <hr />
    <div class="form-group d-inline radio-infill">
      <div class="radio radio-success radio-infill d-inline">
        <input type="radio" name="radio-s-in-3" id="radio-s-infill-3" checked />
        <label for="radio-s-infill-3" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline radio-infill">
      <div class="radio radio-success radio-infill d-inline">
        <input type="radio" name="radio-s-in-3" id="radio-s-infill-2" />
        <label for="radio-s-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ success radio ] end -->
  <!-- [ warning radio ] start -->
  <div class="col-xl-4 col-md-6 mb-5">
    <h5>Warning Radio</h5>
    <hr />
    <div class="form-group">
      <div class="radio radio-warning d-inline">
        <input type="radio" name="radio-w-1" id="radio-w-1" checked />
        <label for="radio-w-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-warning d-inline">
        <input type="radio" name="radio-w-1" id="radio-w-2" />
        <label for="radio-w-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-warning d-inline m-r-10">
        <input type="radio" id="radio-w-3" disabled />
        <label for="radio-w-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-warning d-inline m-r-10">
        <input type="radio" id="radio-w-4" disabled checked />
        <label for="radio-w-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Radio fill</h6>
    <hr />
    <div class="form-group">
      <div class="radio radio-warning radio-s-fill-1 d-inline">
        <input type="radio" name="radio-w-fill-1" id="radio-w-fill-1" checked />
        <label for="radio-s-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-warning radio-s-fill-1 d-inline">
        <input type="radio" name="radio-w-fill-1" id="radio-w-fill-2" />
        <label for="radio-w-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-warning radio-s-fill-1 d-inline m-r-10">
        <input type="radio" name="radio-w-fill-3" id="radio-w-fill-3" disabled />
        <label for="radio-w-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-warning radio-s-fill-1 d-inline m-r-10">
        <input type="radio" id="radio-w-fill-4" disabled checked />
        <label for="radio-w-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-warning d-inline radio-infill">
        <input type="radio" name="radio-w-in-1" id="radio-w-in-1" checked />
        <label for="radio-w-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-warning d-inline">
        <input type="radio" name="radio-w-in-1" id="radio-w-in-2" />
        <label for="radio-w-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Inline fill</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-warning radio-infill d-inline">
        <input type="radio" name="radio-w-in-3" id="radio-w-infill-1" checked />
        <label for="radio-w-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-warning radio-infill d-inline">
        <input type="radio" name="radio-w-in-3" id="radio-w-infill-2" />
        <label for="radio-w-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ warning radio ] end -->
  <!-- [ Info radio ] start -->
  <div class="col-xl-4 col-md-6 mb-3">
    <h5>Info Radio</h5>
    <hr />
    <div class="form-group">
      <div class="radio radio-info d-inline">
        <input type="radio" name="radio-i-1" id="radio-i-1" checked />
        <label for="radio-i-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-info d-inline">
        <input type="radio" name="radio-i-1" id="radio-i-2" />
        <label for="radio-i-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-info d-inline m-r-10">
        <input type="radio" id="radio-i-3" disabled />
        <label for="radio-i-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-info d-inline m-r-10">
        <input type="radio" id="radio-i-4" disabled checked />
        <label for="radio-i-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Radio fill</h6>
    <hr />
    <div class="form-group">
      <div class="radio radio-info radio-s-fill-1 d-inline">
        <input type="radio" name="radio-i-fill-1" id="radio-s-fill-1" checked />
        <label for="radio-s-fill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-info radio-s-fill-1 d-inline">
        <input type="radio" name="radio-i-fill-1" id="radio-i-fill-2" />
        <label for="radio-i-fill-2" class="cr">Uncheck</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-info radio-s-fill-1 d-inline m-r-10">
        <input type="radio" name="radio-i-fill-3" id="radio-i-fill-3" disabled />
        <label for="radio-i-fill-3" class="cr">Disabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="radio radio-info radio-s-fill-1 d-inline m-r-10">
        <input type="radio" id="radio-i-fill-4" disabled checked />
        <label for="radio-i-fill-4" class="cr">Disabled Checked</label>
      </div>
    </div>
    <h6 class="mt-4">Inline</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-info d-inline radio-infill">
        <input type="radio" name="radio-i-in-1" id="radio-i-in-1" checked />
        <label for="radio-i-in-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-info d-inline">
        <input type="radio" name="radio-i-in-1" id="radio-i-in-2" />
        <label for="radio-i-in-2" class="cr">Uncheck</label>
      </div>
    </div>
    <h6 class="mt-4">Inline fill</h6>
    <hr />
    <div class="form-group d-inline">
      <div class="radio radio-info radio-infill d-inline">
        <input type="radio" name="radio-i-in-2" id="radio-i-infill-1" checked />
        <label for="radio-i-infill-1" class="cr">Checked</label>
      </div>
    </div>
    <div class="form-group d-inline">
      <div class="radio radio-info radio-infill d-inline">
        <input type="radio" name="radio-i-in-2" id="radio-i-infill-2" />
        <label for="radio-i-infill-2" class="cr">Uncheck</label>
      </div>
    </div>
  </div>
  <!-- [ Info radio ] end -->
</div>
