<mat-toolbar>
  <button
    type="button"
    class="btn btn-primary"
    style="margin-bottom: 10px"
    (click)="refreshItemsList()">
    <i class="bi bi-arrow-repeat"></i>&nbsp;Refresh Values List</button>
  <span class="example-spacer"></span>
  <button
    type="button"
    class="btn btn-primary"
    style="margin-bottom: 10px"
    (click)="addOptionValue($event, option)">
    <i class="bi bi-plus-circle"></i>&nbsp;Add New Option Value</button>
</mat-toolbar>

<table
  mat-table
  [dataSource]="values"
  multiTemplateDataRows="true"
  class="mat-elevation-z8"
>
  @for(valueColumn of valueColumnsToDisplay; track $index) {
    <ng-container matColumnDef="{{valueColumn}}">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'black'" [style.color]="'white'" >{{ valueColumnNamesToDisplay[$index] }}</th>
      <td mat-cell *matCellDef="let value">
        {{value[valueColumn]}}
      </td>
    </ng-container>
  }
  <ng-container matColumnDef="valueActions">
    <th mat-header-cell *matHeaderCellDef  [style.background-color]="'black'" [style.color]="'white'" aria-label="value row actions">Actions</th>
    <td mat-cell *matCellDef="let value">
      <button
        mat-icon-button
        aria-label="Edit Option Value"
        matTooltip="Edit Option Value"
        matTooltipPosition="left"
        (click)="editOptionValue($event, option, value)"
      >
        <i
          class="bi bi-pencil-fill"
          [style.color]="'darkgreen'"
        ></i>
      </button>
      @if(helpers.checkRoles(['SuperAdmin', 'Admin'], user.roles)) {
        <button
          mat-icon-button
          aria-label="Delete Option Value"
          matTooltip="Delete Option Value"
          matTooltipPosition="left"
          (click)="deleteOptionValue($event, option, value)"
        >
          <i
            class="bi bi-trash3-fill"
            [style.color]="'red'"
          ></i>
        </button>
      }
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="valueColumnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let row; columns: valueColumnsToDisplayWithExpand" class="example-detail-row"></tr>
</table>

